<section class="notfoundpage">
  <div class="notfoundpage__column">
    <img class="notfoundpage__leftImage" src="./assets/images/notfound-guy.svg" alt="Image of page not found">
  </div>
  <div class="notfoundpage__column">
    <div class="notfoundpage__description">
      <h1>Ups, parece que algo salió mal...</h1>
      <p>
        Estamos trabajando para solucionarlos inconvenientes lo antes posible
      </p>
      <div class="notfoundpage__chip">
        404
      </div>
    </div>
  </div>
</section>